<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Page" />
	<f:section name="Configuration">

		<flux:form id="onecolumn" label="Single Column">
			<!-- Grid displayed in the page module -->
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="0" name="Column" label='Column'/>
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Content">

		<f:format.raw>
			<v:content.render column="0"/>
		</f:format.raw>

	</f:section>

</div>
