<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Page" />

	<f:section name="Configuration">

		<flux:form id="startpage" label="Startseite">            
			<!-- Grid displayed in the page module -->
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="1" name="Column 1" label="Column 1" />
				</flux:grid.row>
				<flux:grid.row>
					<flux:grid.column colPos="0" name="Column 0" label="Column 0" />
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Content">
	
		<section class="hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<v:content.render column="0"/>
					</div>
				</div>
			</div>
		</section>
		
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<v:content.render column="1"/>
					</div>
				</div>
			</div>
		</section>
			
	</f:section>

</div>
