<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Searchbox">
	

		<form action="<f:uri.page pageUid="{v:variable.typoscript(path: 'searchPagePID')}"/>" method="post" name="searchform-{formname}" role="search" class="form-search">

			
				<div class="input-group">
					<input class="form-control" placeholder="<f:translate key="LLL:EXT:fluxtemplating/Resources/Private/Language/locallang.xml:search" />" id="tx_indexedsearch_word-{formname}" name="tx_indexedsearch[sword]" type="text" />
					<span class="input-group-btn">
						<button class="btn btn-search " type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
	
	
            	<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />                
                <input type="hidden" name="tx_indexedsearch[pointer]" value="0" />
                <input type="hidden" name="tx_indexedsearch[ext]" value="" />
                

		</form>


	</f:section>

</div>
