<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Page"/>

    <main class="main-content {page.title}" id="content" role="main">

	    <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">WebSiteName</a>
		    </div>
		    <v:page.menu class='nav navbar-nav' classActive='active'/>
		    <!-- <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Page 1</a></li>
		      <li><a href="#">Page 2</a></li>
		      <li><a href="#">Page 3</a></li>
		    </ul> -->
		  </div>
		</nav>
		<div class='container'>
	        <!--TYPO3SEARCH_begin-->
	        <f:render section="Content"/>
	        <!--TYPO3SEARCH_end-->
	    </div>
    </main>

</div>
